<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorator="main-template">
    <head>
        <title>Book - Bookshelf</title>
    </head>
    <body>

        <div layout:fragment="content">
            <a hrem="#" th:href="@{/edit-book(bookId=${book.id})}">edit</a>
            <div class="w3-row-padding">
                <h1 class="w3-col s12" th:text="${book.title}">La Geometria Mar</h1>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col l4 m6 s12">
                    <img src="http://via.placeholder.com/300x300" th:src="@{/book-image(bookId=${book.id})}" style="width:100%; object-fit: cover"/>
                </div>
                <div class="w3-col l8 m6 s12">
                    <table class="w3-table w3-bordered">
                        <tr>
                            <th style="width:50px">Author</th>
                            <td th:text="${book.author}">Herodes Palomo Chavez</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td th:text="${book.isbn}">99-7854-060-1</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td th:text="${book.year}">1989</td>
                        </tr>
                    </table>
                    <form action="mybooks.html" th:action="@{/order}" method="post">
                        <input type="hidden" name="bookId" th:value="${book.id}"/>
                        <button class="w3-button w3-right w3-red">Order</button>
                    </form>
                </div>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col s12">
                    <h3>Description:</h3>
                    <p th:text="${book.description}">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </body>
</html>
