<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorator="main-template">
    <head>
        <title>Home - Bookshelf</title>
    </head>
    <body>

        <div layout:fragment="content">

            <form class="w3-row-padding" action="/" th:action="@{/}" method="post">
                <button class="w3-button w3-border w3-green w3-right" style="width:100px">Search</button>
                <div class="w3-rest">
                    <input type="text" class="w3-input w3-border" name="term" th:value="${term}"/>
                </div>
            </form>

            <div th:replace="fragments/books :: list(${books})"></div>
        
        </div>
    </body>
</html>
