<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorator="main-template">
    <head>
        <title>Login - Bookshelf</title>
    </head>
    <body>

        <div layout:fragment="content">

            <form class="w3-row-padding" action="/" th:action="@{/login}" method="post">
                <div>
                    <label>username</label>
                    <input type="text" class="w3-input w3-border" name="email"/>
                </div>
                <div>
                    <label>password</label>
                    <input type="password" class="w3-input w3-border" name="password"/>
                </div>
                <div>
                    <button class="w3-button w3-black">Login</button>
                </div>
            </form>
            <a href="#" th:href="@{/register}">Register</a>
        </div>
        
        <div layout:fragment="footer">
            another footer
        </div>
    </body>
</html>
