<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorator="main-template">
    <head>
        <title>My Books - Bookshelf</title>
    </head>
    <body>

        <div layout:fragment="content">
            <div class="w3-row w3-margin">
                <button class="w3-button w3-left-align w3-col s12 w3-green" onclick="toggleGroup('availableBooks')">Available books</button>
            </div>
            <div id="availableBooks" class="w3-row-padding w3-animate-left" th:include="fragments/books :: list(${availableBooks})"></div>


            <div class="w3-row w3-margin">
                <button class="w3-button w3-left-align w3-col s12 w3-green" onclick="toggleGroup('ownedBooks')">Owned books</button>
            </div>
            <div id="ownedBooks" class="w3-hide w3-row-padding w3-animate-left" th:include="fragments/books :: list(${ownedBooks})"></div>


            <div class="w3-row w3-margin">
                <button class="w3-button w3-left-align w3-col s12 w3-green" onclick="toggleGroup('queuedBooks')">In queue</button>
            </div>
            <div id="queuedBooks" class="w3-hide w3-row-padding w3-animate-left" th:include="fragments/books :: list(${queuedBooks})"></div>
            <script>
                function toggleGroup(id) {
                    w3.toggleClass('#' + id, 'w3-hide');
                }
            </script>
        </div>
    </body>
</html>
